.main {
  padding: 0 0 60px 0;
  display: flex;
  flex-direction: column;

  .section {
    flex: 1;

    .container {
      display: flex;
      justify-content: space-between;

      @media (max-width: 730px) {
        flex-direction: column;
      }

      .title {
        flex: 0 1 362px;

        @media (max-width: 730px) {
          flex: none;
        }

        .h1 {
          font-size: 48px;
          line-height: 1.2;
          color: #E4E5EA;
          @media (max-width: 730px) {
            font-size: 36px;
          }
        }

        .welbex {
          font-weight: 900;
          font-size: 48px;
          line-height: 58px;
          background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;

          &:not(:last-child) {
            margin-bottom: 30px;
          }

          @media (max-width: 730px) {
            font-size: 36px;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }

        .us {
          max-width: 275px;
          font-size: 18px;
          line-height: 1.2;
          @media (max-width: 730px) {
            margin-bottom: 45px;
          }
        }

      }

      .consultation {
        text-align: right;

        @media (max-width: 730px) {
          text-align: left;
        }

        .h2 {
          max-width: 290px;

          &:not(:last-child) {
            margin-bottom: 40px;
          }

          @media (max-width: 730px) {
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }

          .common {
            font-weight: 700;
            font-size: 18px;
            line-height: 1.2;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .gifts {
          max-width: 300px;
          display: flex;
          flex-wrap: wrap;
          column-gap: 36px;
          row-gap: 30px;

          &:not(:last-child) {
            margin-bottom: 60px;
          }

          @media (max-width: 730px) {
            font-size: 36px;
            column-gap: 30px;
            row-gap: 14px;
            &:not(:last-child) {
              margin-bottom: 0;
            }
          }

          .gift {
            flex: 1 0 calc(50% - 30px);

            .wrapper {
              @media (max-width: 730px) {
                display: flex;
                align-items: center;
                column-gap: 5px;
              }

              .subtitle {
                font-weight: 500;
                font-size: 18px;
                line-height: 1.2;
                white-space: nowrap;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                position: relative;

                &:not(:last-child) {
                  margin-bottom: 6px;
                }

                @media (max-width: 730px) {
                  font-size: 13px;
                }
              }

              span {
                display: none;
                @media (max-width: 730px) {
                  display: inline-block;
                  width: 10px;
                  height: 2px;
                  transform: translateY(-50%);
                  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
                }
              }

            }


            .description {
              line-height: 1.4;
              @media (max-width: 730px) {
                display: none;
              }

            }

          }
        }

        .button {
          padding: 0 35px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          min-height: 60px;
          color: #fff;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.2;
          background-color: #4077F3;
          transition: all .3s ease;

          &:hover {
            background-color: rgb(252, 176, 69);
          }

          @media (max-width: 730px) {
            display: none;
          }
        }

      }
    }
  }

}


