.header {
  padding-top: 46px;

  &:not(:last-child) {
    margin-bottom: 90px;
  }

  @media (max-width: 730px) {
    padding-top: 0;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .container {
    min-height: 73px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    padding-top: 15px;
    @media (max-width: 730px) {
      padding-top: 20px;
      min-height: 55px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .logo {
    flex: 0 1 160px;
    padding: 0 10px;

    @media (max-width: 730px) {
      display: none;
    }

    img {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    p {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;

      color: #E4E5EA;

    }
  }

  .list {
    display: flex;
    flex: 1 1 auto;
    column-gap: 30px;
    padding: 0 10px;
    justify-content: center;
    @media (max-width: 730px) {
      column-gap: 10px;
      & li:last-child {
        display: none;
      }

      li a {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        text-transform: uppercase;

        /* light text */

        color: #E4E5EA;

      }
    }
  }

  .link {
    flex: 1 1 auto;
    text-align: right;
    color: #fff;
    @media (max-width: 730px) {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 47px;
    }
  }

  .contacts {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    @media (max-width: 730px) {
      display: none;
    }
  }
}